<extend name="Public/base"/>
<block name="body">
    <div class="container main">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__IMG__/news006.jpg" class="img-responsive">
                        <h3>风先生：o2o浪潮下，给小餐馆</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__IMG__/news006.jpg" class="img-responsive">
                        <h3>风先生：o2o浪潮下，给小餐馆</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__IMG__/news006.jpg" class="img-responsive">
                        <h3>风先生：o2o浪潮下，给小餐馆</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__IMG__/news006.jpg" class="img-responsive">
                        <h3>风先生：o2o浪潮下，给小餐馆</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__IMG__/news006.jpg" class="img-responsive">
                        <h3>风先生：o2o浪潮下，给小餐馆</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__IMG__/news006.jpg" class="img-responsive">
                        <h3>风先生：o2o浪潮下，给小餐馆</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="__IMG__/news006.jpg" class="img-responsive">
                        <h3>风先生：o2o浪潮下，给小餐馆</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--网站主体-->
    <div class="container main clearfix">
        <aside class="complementary visible-lg-block">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h4 class="panel-title">最热文章</h4>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge">2032</span>风先生：o2o浪潮下，给小餐馆</li>
                    <li class="list-group-item"><span class="badge">1242</span>Vestibulum at eros</li>
                    <li class="list-group-item"><span class="badge">1242</span>风先生：o2o浪潮下，给小餐馆</li>
                    <li class="list-group-item"><span class="badge">1242</span>Porta ac consectetur ac</li>
                    <li class="list-group-item"><span class="badge">1242</span>风先生：o2o浪潮下，给小餐馆</li>
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">文章排行</h4>
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge">2032</span>Cras justo odio</li>
                    <li class="list-group-item"><span class="badge">1242</span>Dapibus ac facilisis in</li>
                    <li class="list-group-item"><span class="badge">912</span>Morbi leo risus</li>
                    <li class="list-group-item"><span class="badge">145</span>Porta ac consectetur ac</li>
                    <li class="list-group-item"><span class="badge">123</span>Vestibulum at eros</li>
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">关注我</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </aside>
        <!--右侧文章列表-->
        <div class="panel panel-default content">
            <div class="panel-body">
                <ul class="media-list">
                    <notempty name="topicList">
                        <volist name="topicList" id="vo">
                            <li class="media">
                                <a class="pull-left hidden-xs" href="#">
                                    <img src="__IMG__/news006.jpg" alt="..." class="media-img">
                                </a>

                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <strong>{$vo.title}</strong>
                                        <small class="pull-right">
                                            <span class="glyphicon glyphicon-time"></span>
                                            {$vo.create_time}
                                        </small>
                                    </h4>
                                    <p class="font-media">
                                        {$vo.content}
                                    </p>

                                    <p class="tags">
                                        <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;&nbsp;&nbsp;产品经理，项目管控
                                    </p>
                                </div>
                                <hr>
                            </li>
                        </volist>
                        <else/>
                        <li class="text-center"> aOh! 暂时还没有内容!</li>
                    </notempty>
                </ul>

            </div>
        </div>
    </div>
</block>
<block name="script"></block>