<div class="col-md-3">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h4 class="panel-title">推荐主页</h4>
        </div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item"><span class="badge">2032</span>给小餐馆</li>
            <li class="list-group-item"><span class="badge">1242</span>Vestibulum </li>
            <li class="list-group-item"><span class="badge">1242</span>风先生：</li>
            <li class="list-group-item"><span class="badge">1242</span>Porta ac</li>
            <li class="list-group-item"><span class="badge">1242</span>风先生给小餐馆</li>
        </ul>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h4 class="panel-title">猜你喜欢</h4>
        </div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item"><span class="badge">2032</span>风先生</li>
            <li class="list-group-item"><span class="badge">1242</span>eros</li>
            <li class="list-group-item"><span class="badge">1242</span>风先生</li>
            <li class="list-group-item"><span class="badge">1242</span>consectetur ac</li>
            <li class="list-group-item"><span class="badge">1242</span>给小餐馆</li>
        </ul>
    </div>
</div>