<extend name="Public/base"/>
<block name="body">
   <!--网站主体-->
    <div class="container mt25">
        <ol class="breadcrumb">
            <li><a href="{:U('Index/index')}">首页</a></li>
            <li><a href="#">文章列表</a></li>
            <li class="active">互联网新闻</li>
        </ol>
        <div>
            <span class="label label-default">互联网</span>
            <span class="label label-default">前端设计</span>
            <span class="label label-default">后台数据库</span>
            <span class="label label-default">java</span>
            <span class="label label-default">PHP</span>
            <br><br>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="#"><img src="__IMG__/news001.jpg" alt="..."></a>
                    <div class="caption">
                        <h3>Thumbnail labelf阿发</h3>
                        <p class="font-color-1">的飞洒嘎斯的发生的发生的发的发的是发的发发的是发的发的发发的撒范德萨发的发放的撒旦法师的<p>
                        <p class="font-color-1">2015-12-11</p>
                        <p class="font-color-1">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;13
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;334
                        </p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#"><img src="__IMG__/news007.jpg" alt="..."></a>
                    <div class="caption">
                        <h3>Thumbnail labeldf的发的发的撒发的说法都是发的</h3>
                        <p class="font-color-1">的飞洒嘎斯的发生的发生的发的发的是发的发发的是发的发的发发的撒范德萨发的发放的撒旦法师的<p>
                        <p class="font-color-1">2015-12-11</p>
                        <p class="font-color-1">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;13
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;334
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="#"><img src="__IMG__/news007.jpg" alt="..."></a>
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p class="font-color-1">的飞洒嘎斯的发生的发生的发的发的是发的发发的是发的发的发发的撒范德萨发的发放的撒旦法师的<p>
                        <p class="font-color-1">2015-12-11</p>
                        <p class="font-color-1">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;13
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;334
                        </p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#"><img src="__IMG__/news001.jpg" alt="..."></a>
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p class="font-color-1">的飞洒嘎斯的发生的发生的发的发的是发的发发的是发的发的发发的撒范德萨发的发放的撒旦法师的<p>
                        <p class="font-color-1">2015-12-11</p>
                        <p class="font-color-1">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;13
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;334
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="#"><img src="__IMG__/news006.jpg" alt="..."></a>
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p class="font-color-1">的飞洒嘎斯的发生的发生的发的发的是发的发发的是发的发的发发的撒范德萨发的发放的撒旦法师的<p>
                        <p class="font-color-1">2015-12-11</p>
                        <p class="font-color-1">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;13
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;334
                        </p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#"><img src="__IMG__/news001.jpg" alt="..."></a>
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p class="font-color-1">的飞洒嘎斯的发生的发生的发的发的是发的发发的是发的发的发发的撒范德萨发的发放的撒旦法师的<p>
                        <p class="font-color-1">2015-12-11</p>
                        <p class="font-color-1">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;13
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;334
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <a href="#"><img src="__IMG__/user.jpg" alt="..."></a>
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p class="font-color-1">的飞洒嘎斯的发生的发生的发的发的是发的发发的是发的发的发发的撒范德萨发的发放的撒旦法师的<p>
                        <p class="font-color-1">2015-12-11</p>
                        <p class="font-color-1">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;13
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;334
                        </p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#"><img src="__IMG__/news006.jpg" alt="..."></a>
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p class="font-color-1">的飞洒嘎斯的发生的发生的发的发的是发的发发的是发的发的发发的撒范德萨发的发放的撒旦法师的<p>
                        <p class="font-color-1">2015-12-11</p>
                        <p class="font-color-1">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;13
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;334
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</block>
