<!--[if lt IE 9]>
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <p class="container">
        <strong>提示!</strong> 您使用的IE浏览器版本较低，为了获得最佳的浏览体验，建议您升级您的浏览器或选用其它浏览器。&nbsp;&nbsp;
        <a href="http://browsehappy.com/" class="btn btn-default" target="_blank">立即升级</a>
    </p>
</div>
<![endif]-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                肖兴平的个人博客
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">首页</a></li>
                <li><a href="#">互联网新闻</a></li>
                <li><a href="#">我的文章</a></li>
                <li><a href="#">关于我</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入关键词">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#registerModal" data-toggle="modal"><span class="glyphicon glyphicon-user"
                                                                       aria-hidden="true"></span>&nbsp;注册 </a></li>
                <li><a href="#loginModal" data-toggle="modal">登录</a></li>
            </ul>
        </div>
    </div>
    <div class="no-boxshadow-nav"></div>
</nav>
<!-- 登录弹窗 -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">用户登录</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input type="email" class="form-control" id="username" name="username" placeholder="邮箱/手机号/昵称">
                    </div>
                    <div class="form-group has-default has-feedback">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                        <a href="#" title="点击显示/隐藏密码" id="togglePassword" class="form-control-feedback">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 记住我 &nbsp;&nbsp;<a href="#">忘记密码？</a>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">登录</button>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group text-center" role="group" aria-label="社交账号登录">
                    <button type="button" class="btn btn-default">QQ登录</button>
                    <button type="button" class="btn btn-default">微博登录</button>
                    <button type="button" class="btn btn-default">微信登录</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--注册弹窗-->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">用户注册</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="email">邮箱</label>
                        <input type="email" class="form-control" id="email" name="username" placeholder="输入邮箱" required>
                    </div>
                    <div class="form-group has-default has-feedback">
                        <label for="passwordRegister">密码</label>
                        <input type="password" class="form-control" id="passwordRegister" name="password"
                               placeholder="密码" required>
                        <a href="#" title="点击显示/隐藏密码" id="togglePasswordRegister" class="form-control-feedback">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">立即注册</button>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group text-center" role="group" aria-label="社交账号登录">
                    <button type="button" class="btn btn-default">QQ登录</button>
                    <button type="button" class="btn btn-default">微博登录</button>
                    <button type="button" class="btn btn-default">微信登录</button>
                </div>
            </div>
        </div>
    </div>
</div>